body {
    margin: 0;
    font-family: 'Poppins', 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
hr {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}
h1 {
    margin: 0;
}
.clickable:active {
    scale: 0.9;
    transition: .3s;
}
.hoverable:hover {
    scale: 1.1;
    transition: .3s;
}
#main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    position: fixed; 
}
/*dashboard css*/
#dashboard {
    grid-area: 1/1/-1/2;
    display: grid;
    grid-template-columns: auto 10px;
    transition-delay: 1s;
    z-index: 11;
    box-sizing: border-box;
}
.dashboard-color-block {
    grid-column: 2/-1;
    background-color: rgb(130, 78, 0);
    height: 100vh;
}
.cont-dashboard {
    grid-area: 1/1/-1/2;
    background-image: url(images/background/metal.jpg);
    color: black;
    padding:  30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 3rem;
    box-sizing: border-box;
    height: 100%;
}
.cont-dashboard a {
    font-size: 1.5em;
}
.cont-dashboard a:hover {
    border-bottom: 2px solid rgb(130, 78, 0);
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
/* .logo:hover {
    border: 2px solid rgb(130, 78, 0);
} */
.logo img {
    height: 60px;
}
/* Styling for main-links */
.main-links li a[data-link="Home"]::before {
    content:url(images/svg/home.svg);
}

.main-links li a[data-link="Profile"]::before {
    content:url(images/svg/user.svg);
}

.main-links li a[data-link="Messages"]::before {
    content:url(images/svg/message-square.svg);
}

.main-links li a[data-link="History"]::before {
    content:url(images/svg/clock.svg);
}

.main-links li a[data-link="Tasks"]::before {
    content:url(images/svg/file.svg);
}

.main-links li a[data-link="Communities"]::before {
    content:url(images/svg/users.svg);
}

/* Styling for other-links */
.other-links li a[data-link="Settings"]::before {
    content:url(images/svg/settings.svg);
}

.other-links li a[data-link="Support"]::before {
    content:url(images/svg/help-circle.svg);
}

.other-links li a[data-link="Privacy"]::before {
    content:url(images/svg/shield.svg);
}
a::before {
    position: relative;
    bottom: -5px;
    margin-right: 5px;
}
/*navbar css*/
#navbar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px 30px;
    background-image: linear-gradient(rgba(99, 99, 99, 0.813) 85%, rgb(130, 78, 0));
    box-shadow: 0 5px 5px black;
    z-index: 10;
}
.navbar-input {
    display: flex;
    align-items: center;
}
.navbar-input div input {
    width: 100%;
    border-radius: 10px;
    border: 0;
    height: 20px;
    text-align: center;
    font-size: 1.1rem;
    outline: none;
    transition: 0.5s;
}
.navbar-input div input[type=text]:focus {
    border:3px solid rgb(48, 48, 48);
}
.navbar-input div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
/* .navbar-input div::before {
    content: url(images/svg/search.svg);
    -- position: absolute;
    transform: translateX(-30px); --
} */
.navbar-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.navbar-acc1, .navbar-acc2 {
    display: flex;
    align-items: center;
}
.navbar-acc1 {
    gap: 30px;
    justify-content: center;
}
.navbar-acc2 {
    gap: 30px;
}
.navbar-acc2 h3 {
    margin: 5px;
}
.acc-image {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    content: url(./images/profile/teseo-pic.jpeg);
    box-shadow: 0 0 5px black;
}
.navbar-btns button {
    border-radius: 20px;
    border: 2px solid rgb(74, 74, 74);
    box-shadow: 0 0 5px black;
    height: 40px;
    width: 80px;
    background-color: rgb(172, 172, 172);
}
.navbar-btns button:hover {
    background-color: rgb(99, 99, 99);
}
/*content css*/
#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr 30px 1fr;
    height: calc(100vh/6*5);
    gap: 20px;
    padding: 0 20px;
    background-image: url(images/background/muscle-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#content>p {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    margin: auto 0;
    text-shadow: rgb(196, 196, 196) 1px 0 10px;
}

#project-container {
    grid-area: 2/1/-1/2;
}
#scrollable-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    height: 100%;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px 0;
}
.project-item {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(190, 190, 190, 0.732);

    display: grid;
    grid-template-columns: 10px auto;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    "color-bar text"
    "color-bar icons";
    box-shadow: 0 0 10px black;
}
.color-block {
    grid-area: color-bar;
    background-color: rgb(130, 78, 0);
    border-radius: 10px 0 0 10px;
}
.text-project {
    grid-area: text;
    font-size: .8rem;
    padding: 20px;
}
.project-icon {
    grid-area: icons;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 20px;
}
.star, .hide, .send {
    height: 25px;
}
.star {
    content: url(images/svg/star.svg);
}
.hide {
    content: url(images/svg/eye-off.svg);
}
.send {
    content: url(images/svg/send.svg);
}
#announcements-container {
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(190, 190, 190, 0.732);
    overflow: scroll;
    box-shadow: 0 0 10px black;
}
#announcements-container hr {
    margin: 10px;
}
.announcement {
    margin: 5px;
    font-size: .7rem;
    padding: 3px;
}

.announcement p {
    margin: 5px 0;
}

#trending-container {
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(190, 190, 190, 0.732);
    margin-bottom: 10px;
    overflow: scroll;
    box-shadow: 0 0 10px black;
}
.image-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    flex-shrink: 0;
    box-shadow: 0 0 5px black;
}
img[src="images/profile/ronnie-pic.png"]{
    height: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-30px, 0);
}
img[src="images/profile/arnold-pic.jpg"]{
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-10px, 0);
}
img[src="images/profile/cbum-pic.png"]{
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-17px, 0);
}
.account {
    margin: 5px;
    font-size: .7rem;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.account p {
    margin: 0;
}